name: terraform
on:
  push:
    branches:
      - main

jobs:
  terraform-actions:
    name: workflow
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_ssh_authorized_key: ${{ secrets.TF_VAR_SSH_AUTHORIZED_KEY }}
      TF_VAR_acme_email: ${{ secrets.TF_VAR_ACME_EMAIL }}
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.14.5

    - name: format
      run: terraform fmt -check

    - name: init
      run: terraform init

    - name: validate
      run: terraform validate

    - name: plan
      run: terraform plan

    - name: apply
      run: terraform apply -auto-approve
